<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ict.jwdsj.datapool.dictionary.dao.mapper.primary.table.DictTableMapper">
    <sql id="dictTable">
        database_id, en_database, en_table, ch_table
    </sql>

    <insert id="insertIgnore" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO
        dict_table
        (
        <include refid="dictTable"/>
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.dictDatabase.id},
            #{item.enDatabase},
            #{item.enTable},
            #{item.chTable}
            )
        </foreach>
    </insert>
</mapper>