<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ict.jwdsj.datapool.dictionary.database.mapper.DictDatabaseMapper">
    <sql id="dictDatabase">
         en_database, ch_database, detail
    </sql>

    <insert id="insertIgnore" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO
        dict_database
        (
        <include refid="dictDatabase"/>
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.enDatabase},
            #{item.chDatabase},
            #{item.detail}
            )
        </foreach>
    </insert>
</mapper>