<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ict.jwdsj.datapool.datastat.mapper.StatsTableMapper">

    <insert id="insertAll">

        insert into stat_table(database_id, table_id, en_table, ch_table, defect_rate)
        select A.database_id, A.id, A.en_table, A.ch_table, '0'
        from
        (select * from dict_table where gmt_create >= #{timeBeforeInsert}) A
        left join stat_table B
        on A.id = B.table_id
        and B.table_id is null;

    </insert>
</mapper>