<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.ict.jwdsj.datapool.datastat.mapper.StatsTableMapper">

    <resultMap id="statsTableMap" type="cn.ict.jwdsj.datapool.common.entity.datastats.StatsTable">
        <id property="dictTableId" column="id"/>
        <result property="dictDatabaseId" column="database_id"/>
        <result property="enTable" column="en_table"/>
        <result property="chTable" column="ch_table"/>
    </resultMap>

    <select id="listTablesNotAdd" resultMap="statsTableMap">
        select dict_table.id, dict_table.database_id, dict_table.en_table, dict_table.ch_table
        from dict_table
        left join stat_table
        on dict_table.id = stat_table.table_id
        where stat_table.id is null
    </select>

</mapper>